@import "tailwindcss";


.input {
  @apply w-full border p-2 rounded;
}

.btn {
  @apply px-3 py-1 rounded text-white;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700;
}

.btn-danger {
  @apply bg-red-600 hover:bg-red-700;
}
